.searchContainer {
  width: 85%;
}
.search {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f7f7f7;
  background-color: #6c63ff;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  position: relative;
}
.search:hover {
  background-color: #534cc2;
}
.input {
  background-color: inherit;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  color: inherit;
  border: none;
  outline: none;
}
.search > span {
  width: 1px;
  height: 20px;
  background-color: #f7f7f7;
}
.list {
  width: 83vw;
  margin-top: 1px;
  font-size: 18px;
  font-weight: 600;
  color: #6c63ff;
  background-color: #f7f7f7;
  border: 1px solid #6c63ff;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
}
.list > * {
  list-style-type: none;
  margin: 8px;
}
.list a {
  text-decoration: none;
  color: #6c63ff;
  font-weight: 500;
}
.moon:hover {
  fill: #534cc2;
}
