.newNote {
  width: 100%;
  max-width: 550px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #f7f7f7;
  border-radius: 5px;
  box-shadow: none;
  background-color: #6c63ff;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin: auto;
}
